/* -----general tag styling----- */

/*removes side bar scrollings and removes white border around the body*/
body {
	overflow-x: hidden;
	overflow-y: hidden;
	margin:0;
}

/*Linktree style box styling when hovered*/
a:link {
	color: inherit;
	text-decoration: none;
}


/* -----index html styling----- */

/*background over the background image*/
.background {
	background-repeat: no-repeat;
}

/*Linktree style box uses white text*/
.boxLinkText {
	color: white;
	text-align: center;
	font-size: 14px;
	font-family: Verdana;
	opacity: 1;
}

/*Linktree style box setup*/
.box {
	padding: 10px;
	margin: 5px;
	width: 300px;
	border: 2px solid white;
	text-align: center;
	opacity: .8;
}

.box:hover {
	background-color: black;
	opacity: 1;
}

/*Set up the boxes to be in the center of the page*/
.boxContainer {
	vertical-align: middle;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
} 

/* -----<project page styles>----- */

.project {
	padding: 10px;
	margin: 5px;
	width: 500px;
	opacity: 0.8;
}

.project:hover {
	opacity: 1;
}

.projectText {
	text-decoration: underline;
	color: white;
	font-family: Verdana;
	font-size: 14px;
	text-align: center;
}

.projectContainer {
	vertical-align: middle;
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translate(-50%,-15%);
}

.projectVideos {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* -----<About me styling>----- */

.profilePhoto {
	border-radius: 50%;

}